@import '../../library.scss';

.timer__container {
    height: 410px;
    width: 410px;
    border-radius: 50%;
    margin: 45px auto 63px;
    @include center();
    background-image: linear-gradient(-45deg, #272C5A, #121530);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}

.timer {
    @include center();
    position: relative;
    flex-direction: column;
    height: 366px;
    width: 366px;
    background: $dark-blue;
    border-radius: 50%;
}

.timer__time {
    @include h1;
    margin: 20px auto;
}

.timer__status {
    transition: color .3s;
    @include h3;
    margin: 0;
    cursor: pointer;
    // &:hover {
    //     color: $red;
    // }
}

.timer__time-display {
    z-index: 50;
    @include center();
    flex-direction: column;
}
.timer-progress-bar__container {
    transform: rotate(-90deg);
    position: absolute;
    height: 340px;
    width: 340px;
}

.timer__progress-bar {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 12px;
    fill: transparent;
    stroke-dasharray: 1100px;
    r: 165px;
}


@media only screen and (max-width: 425px) {
    #time, #status {
        margin: 2.5px 0;
    }
    #timer__time-display {
        font-size: 80px;
    }
    #timer__status {
        font-size: 14px;
    }
    #timer__container {
        height: 300px;
        width: 300px;
        margin: 40px auto;
    }
    #timer {
        height: 270px;
        width: 270px;
    }
    #timer-progress-bar__container {
        height: 270px;
        width: 270px;
    }
    .timer__progress-bar {
        r: 122px;
        stroke-width: 8px;
    }
    
}