@import '../../library.scss';


.settings__modal-container {
    display: none;
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}
.settings__modal {
    height: 100%;
    width: 100%;
    @include center();
}

.settings {
    width: 540px;
    background: white;
    border-radius: 30px;
    font-family: inherit;
    color: $dark-blue;
    position: relative;

    .settings__form-header {
        @include flex-spread();
        padding: 34px 40px 30px;
        border-bottom: 1px solid #e3e1e1;

        .settings__form-title {
            margin: 0;
        }
    }
    .form-section__set-time,
    .form-section__set-font,
    .form-section__set-color {
        padding: 25px 0;
        margin: 0 40px;

        .set-time__title {
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 22px;
        }
        
        .form-set-time__container {
            @include flex-spread();

            .form-input__container {
                display: flex;
                flex-direction: column;
                position: relative;

                .form-input__label {
                    color: $blue;
                    opacity: .4;
                    margin-bottom: 8px;
                    font-weight: 700;
                }
                .form-input__input {
                    box-sizing: border-box;
                    padding: 16px;
                    font-weight: 700;
                    height: 48px;
                    width: 140px;
                    border: none;
                    background: $silver;
                    border-radius: 10px;
                    &:focus {
                        outline: none;
                    }
                }
                .form-input__custom-spinners {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    bottom: 8px;
                    right: 16px;
                    cursor: pointer;

                    .form-input__arrow {
                        margin: 4.5px 0;
                        opacity: .25;
                        transition: opacity .3s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .form-section__set-color {
        padding-bottom: 60px;
    }
    .spread {
        @include flex-spread();
        border-top: 1px solid #e3e1e1;

        .set-font__title,
        .set-color__title {
            margin: 0;
            font-size: 13px;
            line-height: 13px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .form-radio__container {
            display: flex;
        }
    }
}

.settings__close-button {
    @include buttons();
    height: 14px;
    width: 14px;
    background-image: url('../../img/icon-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
}
.form-radio__outline > .selection > img {
    transition: opacity .3s;
}
.hide {
    opacity: 0;
}

.form-radio__outline {
    border: 1px solid white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    @include center();
    margin-left: 11px;
    transition: border .3s;

    &:hover {
        border: 1px solid $silver;
    }
}
.selection {
    @include center();
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    font-weight: 700;
    border-radius: 40px;
    background: $silver;
    color: $blue;
    transition: background .3s;
    cursor: pointer;
}

.selected {
    background: $dark-blue;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#kumbh-font {
    font-family: $kumbh;
}
#robotos-font {
    font-family: $robotos;
}
#mono-font {
    font-family: $space;
}

#red-color {
    background: $red;
}
#cyan-color {
    background: $cyan;
}
#purple-color {
    background: $purple;
}
#apply {
    height: 53px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: -26.5px;
    width: 140px;
    font-weight: 700;
    background: $red;
    border-radius: 40px;
    color: white;
    border: none;

    &:hover {
        background: lighten($red, 10%);
    }
}

@media only screen and (max-width: 425px) {
    #settings {
        width: 327px;
        border-radius: 15px;

        .form-nav {
            padding: 2.5px 20px;
            h2 {
                font-size: 20px;
            }
        }
        .form-section {
            padding: 15px 0;
            text-align: center;
            margin: 0 20px;

            .input-flex {
                @include flex-column();

                .label-input {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 5px 0;

                    label {
                        margin: 0;
                    }
                }
            }
        }
        .spread {
            @include flex-column();
        }
    }
    .outline {
        margin: 0 8px;
    }
    h4 {
        margin: 10px 0;
        font-size: 12px;
    }
}